/* Constants */
$blue: #587CB3;
$orange: #ffa210;
$darkorange: darken($orange, 10%);
$text: #333;
$bgcolor: lighten(#fff2da, 2%);
$red: #a00;

$header-color: #372f2d;
$box-color: desaturate(darken($bgcolor, 10%), 50%);

$imgborder: desaturate(darken($bgcolor, 20%), 50%);
$imgborderhover: $red;

@import "compass/css3";

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -58px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 58px; /* .push must be the same height as .footer */
}

/* @group General */

body {
	background-color: $bgcolor;
	border-top: 5px solid $red;
  font-family: Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: $text;
  font-size: 20px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
//  font-weight: normal;
}

h2 a {
	text-decoration: none;
}

a {
	color: $text;
}

a:hover {
	color: $darkorange;
}

@mixin light-box {
  background-color: lighten($box-color, 10%);
  border: 1px solid darken($box-color, 10%);
}
@mixin dark-box {
  background: darken($box-color, 5%);
  border: 1px solid lighten($header-color, 40%);
}
@mixin rounded {
     -moz-border-radius: 3px; /* FF1-3.6 */
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
          border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.light-box { @include rounded; @include light-box; padding: 0 20px; }
.light-box.bp { padding-bottom: 20px; }
.light-box.sp { padding-left: 20px; padding-right: 20px; }

.item-list {
  padding: 0; 
  list-style: none;
  a {
    text-decoration: none;
  }
  li {
    margin: 0 10px 0 0;
    float: left;
  }
  li .content {
    @include rounded;
    @include dark-box;
    padding: 0.2em 0.5em;
    list-style: none;
    .icon {
      margin: 7px 6px 0 0;
    }
  }
}


h1 img.icon {
  @include rounded;
  @include dark-box;
  margin: 2px 0 0 7px;
  padding: 4px;
}

/* @end */

/* @group Header */

.header {
}

.logo {
	float: left;
	height: 40px;
}

.site-nav {
	padding: 10px 0px 10px 0px;
	ul {
		margin: 0px 0px 0px 0px;
		-webkit-padding-start: 0px;	
		a {
			color: $text;
			text-decoration: none;
		}
		a:hover {
			color: $darkorange;
		}
	}
	li {
		display: inline-block;
	}
}


.site-nav-list {
	float: left;
	li {
		margin: 0em 1.5em 0em 0em;	
	}
}

.site-nav-account {
	float: right;
	li {
		margin: 0em 0em 0em 1.5em;
	}
}


.nav-bar {
	background-color: #fff;
     -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* FF3.5 - 3.6 */
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Opera 10.5, IE9, FF4+, Chrome 10+ */	
	z-index: 1;
	
}



.banner-image-holder {
	background-image: url('/images/banner_bg.png');
}

.banner-image img {
	margin: 0.5em 0em 0em 0em;
}

/* @end */

/* @group Contents */

.contents {
     -moz-box-shadow: 0px 0px 8px #000; /* FF3.5 - 3.6 */
  -webkit-box-shadow: 0px 0px 8px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 8px #000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */	line-height: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
  border-bottom: 1px solid #3d3735;
}

.image-gallery {
}

.image-gallery-row {
	margin: 8px 0px 8px 0px;
}

.image-gallery-row a {
	margin: 0px 5px 0px 5px;

}

.image-gallery-row img {
	border: 8px solid $imgborder;
	max-height: 284px;
	max-width: 284px;
}

.image-gallery-row a:hover img {
	border-color: $imgborderhover;
}


.image-gallery-row a:first-child {
	margin-left: 0px;
}

.image-gallery-row a:last-child {
	margin-right: 0px;
}

ul.created-by {
	
	
}

ul.created-by li {
	float: left;
	list-style: none;
	margin: 3px 5px;
	padding: 0.2em 0.5em;
}


/* @end */

/* @group Footer */


.footer {
  @include text-shadow(#413E3E,1px,1px);
	background: $header-color;
	color: #FFF6E4;
  border-top: 1px solid #524947;
	padding: 0.5em 0em 0.5em 0em;
	text-align: center;
}

.created-by {
  font-size: 14px;
  margin-top: 0.5em;
}

/* @end */

/* @group Gallery */

.gallery-img {
	border: 8px solid $imgborder;
	max-width: 940px;
}

/* @end */


/* @group Form */

.form-box {
	margin: 1em auto 1em auto;
	width: 300px;
  input[type=text], input[type=email], input[type=password], input[type=submit] {
  	width: 300px;
  }
}


.form-box-wide {
	width: 600px;
  input[type=text], input[type=email], input[type=password], input[type=submit]{
  	width: 600px;
  }
}

.remember-me-box label {
	margin-left: 0.5em;
	position: relative;
	top: -5px;
}

/* @end */


/* @group Projects */

.title {
  padding-bottom: 20px;
}

.project.light-box {
  margin: 1em 0em 1em 0em;
	padding: 20px;
	h2 { margin: 0px 0px 20px 0px; }
  h3 { margin: 0px 0px 20px 0px; }
}

.project.show {

	.website {
    h3 { margin-bottom: 5px; }
  }

  .project-hackers {
    
  }
	.description {
    margin-left: 0; 
  }
}

/* @end */


/* @group Hackers */

.hacker.show {
  
}

/* @end */

.icon { width:16px; height:16px; background: no-repeat; }
.icon.person { background-image: url(/images/icons/person.png); }
.icon.folder { background-image: url(/images/icons/folder.png); }
.icon.file   { background-image: url(/images/icons/file.png); }

.lfloat { float: left; }
.rfloat { float: right; }
