@import "base";

/* Sticky footer */
html, body {
	height: 100%;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 50px; /* .push must be the same height as .footer */
}

/* General */

body {
	background-color: $bgcolor;
	border-top: 4px solid $orange;
  font-family: $paragraph-font;
  color: $text;
  font-size: 20px;
  margin: 0px;
}

a {
	color: $text;
}

a:hover {
	color: $orange;
}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-family: $header-font;
  a {
	  text-decoration: none;
  }
}

/* Header */

.header {
}

.logo {
	float: left;
	height: 40px;
}

.site-nav {
	float: left;  
  font-family: $header-font;
	padding: 10px 0px 10px 0px;
	li {
	  float: left;
	  list-style: none;
		margin: 0em 1.5em 0em 0em;
	}	
	ul {
		margin: 0px 0px 0px 0px;
		-webkit-padding-start: 0px;
		a {
			color: $text;
			text-decoration: none;
		}
		a:hover {
			color: $orange;
		}
	}
}

.account-nav {
	float: right;
	li {
		margin: 0em 0em 0em 1.5em;
	}
}

.menu {
	background-color: $bgcolor;
  moz-box-shadow: -8px 0px 8px #000; /* FF3.5 - 3.6 */
  -webkit-box-shadow: 0px 0px 8px #000; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 8px #000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */;
  z-index: 2;	
}

.banner-image-holder {
	background-image: url('/images/banner_bg.png');
	z-index: 0;
}

.banner-image img {
  height: 242px;
	margin: 0.5em 0em 0em 0em;
	width: 960px;
}

/* Contents */

.contents {
     -moz-box-shadow: -8px 0px 8px #000; /* FF3.5 - 3.6 */
  -webkit-box-shadow: 0px 0px 8px #000; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 8px #000; /* Opera 10.5, IE9, FF4+, Chrome 10+ */	line-height: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
  border-bottom: 1px solid #3d3735;
}

.image-gallery {
}

.image-gallery-row {
	margin: 8px 0px 8px 0px;
}

.image-gallery-row a {
	margin: 0px 5px 0px 5px;

}

.image-gallery-row img {
	border: 8px solid $imgborder;
	max-height: 284px;
	max-width: 284px;
}

.image-gallery-row a:hover img {
	border-color: $imgborderhover;
}


.image-gallery-row a:first-child {
	margin-left: 0px;
}

.image-gallery-row a:last-child {
	margin-right: 0px;
}

/* Footer */


.footer {
  @include text-shadow(#413E3E,1px,1px);
	background: $header-color;
	border-top: 2px solid $darkorange;
	color: #FFF6E4;
  font-family: $header-font;
	padding: 0.75em 0em 0.5em 0em;
	text-align: center;
  a {
    color: #FFF6E4;
    text-decoration: none;
  }
  a:hover {
    color: $orange;
    text-decoration: underline;
  }
}

.created-by {
  font-size: 14px;
  margin-top: 0.5em;
  li {
  	float: left;
  	list-style: none;
  	margin: 3px 5px;
  	padding: 0.2em 0.5em;
  }
}


/* Gallery */

.gallery-img {
	border: 8px solid $imgborder;
	max-width: 940px;
}


/* Form */

.form-box {
	margin: 1em auto 1em auto;
	width: 300px;
  input[type=text], input[type=email], input[type=password], input[type=submit] {
  	width: 300px;
  }
}

.wide {
	width: 600px;
  input[type=text], input[type=email], input[type=password], input[type=submit]{
  	width: 600px;
  }
}

.remember-me-box label {
	margin-left: 0.5em;
	position: relative;
	top: -5px;
}

/* Other */

.light-box { @include rounded; @include light-box; padding: 0 20px; }

.tp { padding-bottom: 20px; }
.bp { padding-bottom: 20px; }
.sp { padding-left: 20px; padding-right: 20px; }

.item-list {
  padding: 0; 
  list-style: none;
  a {
    text-decoration: none;
  }
  li {
    margin: 0 10px 0 0;
    float: left;
  }
  li .content {
    @include rounded;
    @include dark-box;
    padding: 0.2em 0.5em;
    list-style: none;
    .icon {
      margin: 7px 6px 0 0;
    }
  }
}

.divider {
  border: 1px solid lighten($header-color, 55%);
  border-right: none;
  border-bottom: none;
}

h1 img.icon {
  @include rounded;
  @include dark-box;
  margin: 2px 0 0 7px;
  padding: 4px;
}


.icon { width:16px; height:16px; background: no-repeat; }
.icon.person { background-image: url(/images/icons/person.png); }
.icon.folder { background-image: url(/images/icons/folder.png); }
.icon.file   { background-image: url(/images/icons/file.png); }
.icon.zoom   { background-image: url(/images/icons/zoom.png); }

.lfloat { float: left; }
.rfloat { float: right; }
