/* Colors */
/* Fonts */
/* Mixins */
/* Projects */
.title {
  padding-bottom: 20px;
}

.project.light-box {
  margin: 1em 0em 1em 0em;
  padding: 20px;
}
.project.light-box h2 {
  margin: 0px 0px 20px 0px;
}
.project.light-box h3 {
  margin: 0px 0px 20px 0px;
}

.project.index a {
  text-decoration: none;
}
.project.index .view {
  -moz-border-radius: 3px;
  /* FF1-3.6 */
  -webkit-border-radius: 3px;
  /* Saf3-4, iOS 1-3.2, Android <1.6 */
  border-radius: 3px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  background: #e7d6b6;
  border: 1px solid #a2928e;
  border: 1px solid #372f2d;
  margin: 0 10px 0 0;
  padding: 4px 8px;
}
.project.index .view .icon {
  float: left;
  margin: 6px 3px 0 0;
}
.project.index .divider {
  float: left;
  height: 41px;
  margin: -3px 12px 0 3px;
  padding-top: 4px;
}
.project.index .description {
  font-size: 0.9em;
}
.project.index .project-hackers ul.item-list li .content {
  background: #f2ead8;
  border: 1px solid #a2928e;
}

.project.show .website h3 {
  margin-bottom: 5px;
}
.project.show .activity {
  padding-left: 10px;
}
.project.show .activity .checkin {
  -moz-border-radius: 3px;
  /* FF1-3.6 */
  -webkit-border-radius: 3px;
  /* Saf3-4, iOS 1-3.2, Android <1.6 */
  border-radius: 3px;
  /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
  background: #f2ead8;
  border: 1px solid #a2928e;
  padding: 8px;
  width: 45%;
  float: left;
  margin-bottom: 3%;
}
.project.show .activity .checkin.l-col {
  margin-right: 3%;
}
.project.show .activity .description .sig {
  white-space: nowrap;
}
.project.show .activity .description .name {
  font-size: 0.8em;
}
.project.show .activity .description .name a {
  text-decoration: none;
}
.project.show .activity .description .date {
  font-size: 0.6em;
  font-family: helvetica, arial, clean, sans-serif;
  color: #8b7772;
}
.project.show .activity .admin {
  text-align: right;
}
.project.show .activity .admin input[name=delete_checkin] {
  color: #fff;
  text-shadow: #333 0 1px 1px;
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
}
.project.show .checkin-input-wrap h3 {
  margin-bottom: 5px;
}
.project.show .checkin-input-wrap label {
  font-size: 0.7em;
  font-family: helvetica, arial, clean, sans-serif;
}
.project.show .checkin-input-wrap textarea {
  height: 50px;
  width: 373px;
}
.project.show .checkin-input-wrap input[type=submit] {
  margin: 0 0 0 18px;
  font-size: 30px;
}
.project.show .project-hackers li {
  margin-bottom: 10px;
}
.project.show > .description {
  margin-left: 0;
}
.project.show > .description h3 {
  color: #8b7772;
}
