footer.footer
  | Special thanks to Twilio, Infochimps, Houndstooth Coffee, Nola Stowe, and Cospace for sponsoring the event!
  br
  .created-by Organized by <a href="http://twitter.com/damon">Damon Clinkscales.  </a>Website originally created by <a href="https://github.com/mindeavor">Gilbert Garza</a> (Ruby/Rails), <a href="http://twitter.com/danclien">Dan Lien</a> (Design/HTML/CSS), <a href="http://twitter.com/tannermoehle">Tanner Moehle</a> (Logo), and <a href="http://twitter.com/JacquelinesLife">Jacqueline Hughes</a> (Copy)
