
section class="grid_8"
  h1 style="font-size:2em" Welcome!
  .light-box
    erb:
      <p>Friday Night Hacks is an opportunity to connect, share ideas, <%= link_to 'build cool stuff', :projects %> and launch projects into the community. We typically do this into the wee hours of the morning while indulging in delicious snacks, brewskies and copious amounts of caffeine.</p>
      <p>Want to help someone build something awesome? Have an app you’ve been itching to work on? Want to just hang around, code and drink beer? <%= link_to 'Sign up', :new_hacker_registration %> and attend the next event!</p>

aside.grid_4
  erb:
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: '#fridaynighthacks',
      interval: 6000,
      title: '',
      subject: 'Friday Night Hacks',
      width: 300,
      height: 300,
      theme: {
        shell: {
          background: '#dcc497',
          color: '#444'
        },
        tweets: {
          background: '#fff2da',
          color: '#444444',
          links: '#C37700'
        }
      },
      features: {
        scrollbar: false,
        loop: true,
        live: true,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'default'
      }
    }).render().start();
    </script>  
div class="clear"
section class="grid_12 image-gallery"
  h2 
    a href="/gallery"
      | Gallery
    - @photos.first(6).in_groups_of(3) do |photogroup|
      .image-gallery-row
        - photogroup.each do |photo|
          - if !photo.nil?
            a href="/gallery/#{@photos.index(photo)}"
              img src="#{photo.thumbnail_3}"
div class="clear"
